name: Publish to Docker

on:
  push:
    branches:
      - main

permissions:
  packages: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # Використовуємо змінні, щоб ім'я точно збігалося з тим, що у кроці Deploy
          images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
          tags: |
            type=sha
            type=raw,value=latest

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Тут будуть використані обидва теги: і sha-..., і latest
          tags: ${{ steps.meta.outputs.tags }}

      - name: Azure login
        uses: azure/login@v2 
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with: 
          app-name: som  # Правильне ім'я вашого App Service
          # Тепер цей рядок спрацює, бо ми додали створення тегу latest вище
          images: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest
